<section class="desktop-container">
  <section class="resume-container">
    <div class="pdf-link-container">
      <span>--> </span>
      <a href="assets/Resume_Ondersma_Tayler.pdf" target="_blank" class="link">
        view full resume</a
      >
      <span> | </span>
      <a download href="assets/Resume_Ondersma_Tayler.pdf" class="link"
        >download resume PDF</a
      >
      <span> <--</span>
    </div>
    <div class="personal-profile hidden">
      <h1>Personal Profile</h1>
      <p>
        I am a recent Grand Circus graduate with certification in front end web
        development. Before Grand Circus I worked as a child care specialist and
        developed lasting meaningful relationships with the families while doing
        self-exploration on my own time. I had already been dabbling with coding
        and when I was afforded more free time due to the pandemic, I dove
        deeper into coding, finding I truly enjoyed it and was good at it. My
        work with children 2 and under has helped me develop a unique level of
        patience which combined with my empathy for others are unique
        characteristics that think will help me go far as a developer.
      </p>
    </div>
    <div class="education">
      <h1 class="heading">Education</h1>
      <h2 class="sub-heading">Grand Circus</h2>
      <h3 class="sub-sub-heading">Front-End Bootcamp | 2021</h3>
      <li>
        <a routerLink="/projects" class="link hover"
          >view projects from my time at Grand Circus</a
        >
      </li>
      <h2 class="sub-heading">University of Michigan</h2>
      <h3 class="sub-sub-heading">Bachelor's Degree | 2017</h3>
      <li>Double major in Psychology and Sociology</li>
    </div>

    <div class="technical-skills">
      <h1 class="heading">Technical Skills</h1>
      <div class="skills-list">
        <div>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Git/GitHub</li>
            <li>TypeScript</li>
            <li>SQL</li>
            <li>Web APIs</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Bootstrap</li>
            <li>Wireframing</li>
            <li>Scrum</li>
            <li>Social Media</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="work-experience hidden">
      <h1>Work Experience</h1>
    </div>
  </section>
</section>
