* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "IM Fell Double Pica", serif;
  color: rgba(31, 66, 154, 0.824);
}

html {
  background: url("/assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden {
  display: none;
}

.heading {
  font-size: 2rem;
  font-weight: bolder;
  margin: 10px 0px 0px 0px;
}

.link:hover {
  color: aliceblue;
}

.sub-heading {
  font-size: 1.4rem;
  color: cornflowerblue;
}

.sub-sub-heading {
  color: aliceblue;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.project-link {
  text-decoration: underline;
}

.summary {
  margin: 2% 0%;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  background-color: rgb(240, 248, 255, 0.7);
}
.video {
  margin: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 0px 10px 10px rgba(31, 66, 154, 0.524);
}

@media (min-width: 769px) {
  .desktop-container {
    margin: 5% 30%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    border: 1px solid aliceblue;
    padding: 0;
    border-radius: 20px;
  }

  .desktop-project-container {
    margin: 5% 15%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    border: 1px solid aliceblue;
    padding: 0;
    border-radius: 20px;
  }
  .video {
    width: 500px;
  }
}
