.about-container {
  margin-top: -4%;
  width: 100%;
  height: 88vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/assets/Background-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin-left: 7%;
  width: 90%;
}
.headshot {
  display: none;
  margin-top: -9%;
  width: 50%;
  border-radius: 30%;
  background: #5ce1e6c2;
}

.about-text {
  margin-top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  padding-bottom: 2%;
  /* margin-top: 1%; */
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 85%;
  border-radius: 30% 0% 30% 0%;
  background: #ff66c4c1;
}

.greeting-text {
  font-size: 1.4rem;
  padding: 3% 0% 0% 16%;
  height: 95%;
  width: 80%;
  text-align: right;
  color: aliceblue;
}

.connect-text {
  margin-top: 2%;
  margin-bottom: -2%;
  font-size: 1.8rem;
  font-family: "Sacramento", cursive;
}

.connect-text,
.connect-number,
.connect-email,
.linkedin {
  color: aliceblue;
  padding-left: 2%;
}

.github {
  color: aliceblue;
}

.divider {
  color: orange;
}
@media (min-width: 769px) {
  .about-container {
    margin: 4% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
  }

  .title {
    margin-top: -5%;
    margin-left: 10%;
  }

  .headshot {
    margin-top: -24%;
    height: 200px;
    width: 210px;
    display: none;
  }

  .contact-info {
    width: 40%;
    border: none;
    background: none;
  }

  .about-text {
    margin-top: 0%;
    margin-right: 5%;
    width: 70%;
    text-align: center;
  }

  .greeting-text {
    margin-top: -18%;
    text-align: center;
  }

  .connect {
    margin-left: 6%;
  }
}
