<div class="about-container">
  <img
    src="assets/linkedinphoto.jpg"
    alt="Headshot of Tayler Ondersma"
    class="headshot"
  />
  <div class="about-text">
    <h1 class="greeting-header">Welcome!</h1>
    <p class="greeting-text">
      Hello, I'm Tayler. This site is dedicated to showcasing my skills as a
      front end web developer! I have a strong interest in developing aesthetic
      UIs but I am looking to expand all of my technical skills! Feel free to
      reach out with inquires!
    </p>

    <div class="contact-info">
      <h2 class="connect-text">Connect:</h2>
      <p>(269) 760-3044</p>
      <p>TaylerAnnOndersma@gmail.com</p>
      <div class="connect-links">
        <a href="https://www.linkedin.com/in/tayler-ondersma/" class="link"
          >LinkedIn</a
        >
        <span> | </span>
        <a href="https://github.com/Tayler-On" class="link">GitHub</a>
      </div>
    </div>
  </div>
</div>
