<div class="about-container">
  <div>
    <img src="assets/title-home2.png" alt="Welcome" class="title" />
  </div>
  <div>
    <img
      src="assets/home-headshot.png"
      alt="Headshot of Tayler Ondersma"
      class="headshot"
    />
  </div>
  <div class="about-text">
    <div class="contact-info">
      <p class="greeting-text">
        Hello, I'm Tayler. This site is dedicated to showcasing my skills as a
        front end web developer! I am currently job seeking!
        <br />
        <br />
        Feel free to reach out with inquires!
      </p>
      <div class="connect">
        <h2 class="connect-text">Connect:</h2>
        <p class="connect-number">(269) 760-3044</p>
        <p class="connect-email">TaylerAnnOndersma@gmail.com</p>
        <div class="connect-links">
          <a
            href="https://www.linkedin.com/in/tayler-ondersma/"
            class="link linkedin"
            >LinkedIn
          </a>
          <span class="divider"> | </span>
          <a href="https://github.com/Tayler-On" class="link github"> GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
